/* Header Styles */
.header .navbar {
  background-color: #f8f9fa; /* Màu nền nhạt cho header */
  padding: 1rem 2rem; /* Tăng khoảng cách padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng bóng đổ */
  position: fixed; /* Đặt vị trí cố định */
  top: 0; /* Cố định ở phía trên */
  left: 0;
  right: 0;
  z-index: 1000; /* Đảm bảo header luôn hiển thị phía trên các phần tử khác */
}

.header .navbar-brand {
  color: #3e80c2;
  font-size: 2.2rem;
  font-weight: bold;
  text-decoration: none;
}

.header .nav-link {
  color: #343a40;
  margin-right: 20px;
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 30px;
}

.header .nav-link:hover {
  color: #007bff; /* Đổi màu khi hover */
}

.header .btn-outline-dark {
  color: #343a40;
  border-color: #343a40;
  font-size: 1.1rem;
  padding: 5px 15px;
  border-radius: 5px;
}

.header .btn-outline-dark:hover {
  background-color: #343a40;
  color: #fff;
}

.search-categories-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 80px; /* Khoảng cách bên phải, tăng để cách xa nút login */
  margin-top: 10px;
}

.search-bar {
  width: 270px; /* Giảm chiều rộng */
  margin-right: 10px;
  padding: 5px 10px; /* Giữ padding nhỏ hơn */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.categories-select {
  width: 150px; /* Giảm chiều rộng */
  padding: 5px 10px; /* Giữ padding nhỏ hơn */
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 45px;
}

.user-icon {
  font-size: 1.5rem;
  color: #343a40;
  margin-right: 10px;
  margin-top: 15px;
}

.success-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-message {
  background: #28a745;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  font-size: 1.2rem;
}

/* Đảm bảo nội dung trang không bị che bởi header */
body {
  padding-top: 70px; /* Tăng khoảng cách phía trên nội dung trang */
}
